* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.image {
  width: 300px;
  margin: 20px;
}

.container .images-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 200px;
  padding: 10px;

}

.description-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.description{
  font-size: 16px;
  color: #333;
  margin-bottom: 100px;
}

