* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  .app {
    font-family: Arial, sans-serif;
    padding: 20px;
  }
  
  h1 {
    color: #333;
  }
  
  .produtos-estoque-container {
    margin-top: 20px;
  }
  
  li {
    background-color: #f9f9f9;
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }