.list-container {
    width: 300px;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

.list-container ul {
    list-style-type: none;
    padding: 0;
}

.list-container li {
    font-size: 20px;
    color: #333;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.list-container p {
    font-size: 20px;
    color: #999;
}