.header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #f8f9fa;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
}

.header-text h1 {
    font-size: 36px;
    margin: 0;
}

.header-text h2 {
    font-size: 24px;
    margin: 0;
}

.header-image img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

/* Media query para dispositivos de tela pequena */
@media (max-width: 600px) {
    .header-content {
        flex-direction: column;
        align-items: center;
    }

    .header-text {
        text-align: center;
        margin-bottom: 20px;
    }

    .header-image img {
        width: 100px;
        height: 100px;
    }
}