.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.card-container {
  flex: 1;
  display: flex;
  flex-direction: column; /* Alinha os cards em coluna */
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap; /* Impede a quebra de linha */
}

/* Media query para dispositivos de tela pequena */
@media (max-width: 600px) {
  .header {
    font-size: 20px;
    padding: 15px;
  }

  .card {
    width: 90%;
    margin: 10px;
    padding: 15px;
  }

  .footer {
    font-size: 12px;
    padding: 8px;
  }
}